attemptlog_dir="/media/daniella/ceb6a175-7104-43d8-8064-48e6ef72cd27/ISOs/Floflis/Attempts"
buildlog_dir="/media/daniella/ceb6a175-7104-43d8-8064-48e6ef72cd27/ISOs/Floflis/Builds"
#-
export attemptlog_dir && export buildlog_dir

currentstage="attempt" #values: 'attempt' or 'build'
